.room-status {
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
}

.join-room {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}

.join-room-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: solid black 1px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.join-room-button:hover {
    background-color: green;
    transform: scale(1.1);
}